.app {
  text-align: center;
  margin: 0;
  padding: 0;
}

.tree-view-container {
  min-height: 100vh;
  width: 300px;
  padding: 10px;
  background-color: #14213d;
}

.menu-list {
  list-style: none;
  padding-left: 20px;
}

.menu-item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 50px;
  color: white;
  cursor: pointer;
}
